<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Feudal.Properties.Settings.FeudalDatabaseConnectionString"
            connectionString="Data Source=&quot;|DataDirectory|\Database Stuff\FeudalDatabase.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="Feudal.Properties.Settings.FeudalDatabaseConnectionStr"
            connectionString="Data Source=|DataDirectory|\FeudalDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>